*
{
    margin:0;
    padding: 0;
}

body
{
    background-color: #E9F7CA;
    overflow-x: hidden; 
}

.container
{
    width:30vw;
    margin: 2rem 0;
    border-radius: 20px;
    background-image: linear-gradient(to bottom,rgba(0, 255, 229, 0.758) , rgb(50, 126, 239), rgb(151, 68, 234) );
}

.search
{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.search-city
{
    width: 80%;
}

.search-city input
{
  margin: 1.5rem 1rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  border:1px solid white;
  border-radius: 20px;
}

.search-icon
{
    width: 3vw; 
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem; 
}

.search-icon button i
{
    font-size: 1.25rem;
}

button
{
    border-radius:50%;
    height:50px;
    width: 50px;
    margin-right: 0.5rem;
    border:3px solid black;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

.error
{
    width:100%;
    color:#0C0C0C;
    font-weight: 650;
    font-size: 2rem;
    display: none;
    position: relative;
    top: 10%;
}

.weather
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color:whitesmoke;
}

.weather-logo img
{
    height:120px;
    object-fit: cover;
    margin: 1.75rem;
}

.temp
{
    font-size: 2.25rem;
}

.city
{
    margin-top: 0.5rem;
    font-size: 2rem;
}

.hum-wind
{
    display: flex;
    justify-content: space-around;
    color:whitesmoke;
    margin-top: 5rem;
    overflow-x: auto;
}

.humidity
{
    display: flex;
}

.humidity-pic
{
    position: relative;
    top:15px;
    left: 1rem;
   width : 30px;
   height: 30px;
}

.percentage #percent
{
    font-size: 1.75rem;
}

.percentage #humid
{
    font-size: 1.75rem;
    padding-top: 0.5rem;
    padding-left: 0.75rem;
    position: relative;
    bottom: 25px;
}

.wind-speed
{
    display: flex;
}

.wind-pic i
{
    position: relative;
    top:12px;
    left: 1.25rem;
    font-size: 1.75rem;
    padding-top: 0.25rem;
}

.speed #windSpeed
{
    font-size: 1.75rem;
    padding-left: 0.5rem;
}

.speed p
{
    font-size: 1.75rem;
    padding-left: 1rem;
}

.container2
{
    display: none;
}


@media screen and (max-width : 575px)
{
    .container
{
    width:100%;
    height:auto;
}

.search-city input
{
  height:60px;
  margin: 1.5rem 0;
  font-size: 1.2rem;
}

.search-icon
{
    position: relative;
    right: 5%;
}

.search-icon button i
{
    font-size: 1rem;
}

button
{
    height:45px;
    width: 45px;
}

.error
{
    font-size: 1.75rem;
}

.weather-logo img
{
   margin: 1.75rem;
}

.temp
{
  margin-top: 1rem;
}

.humidity-pic
{
   width : 25px;
   height: 25px;
   left: 0.25rem;
}

.percentage #percent
{
    font-size: 1.65rem;
    margin-top: 0.25rem;
    position: relative;
    right: 1rem;
}

.percentage #humid
{
    font-size: 1.5rem;
    position: relative;
    padding-top: 1rem;
    right: 1rem
}

.wind-pic i
{
    font-size: 1.5rem;
    left: 1rem;
}

.speed #windSpeed
{
    font-size: 1.65rem;
    position: relative;
    left: 0.5rem;
}

.speed p
{
    font-size: 1.4rem;
    padding-top: 0.5rem;
}

}


@media screen and (min-width : 576px) and (max-width : 767px)
{
    .container
{
    width:100%;
}

.search-city input
{
  height:65px;
  margin: 1rem;
  font-size: 1.25rem;
}

.search-icon
{
    position: relative;
    right: 2rem;
}

.search-icon button i
{
    font-size: 1.35rem;
}

button
{
    height:50px;
    width: 50px;
}

.error
{
    font-size: 2rem;
}

.temp
{
    font-size: 2.4rem;
}

.city
{
    font-size: 2.15rem;
}

.humidity-pic
{
  top: 2rem;
}

.percentage #percent
{
    font-size: 1.8rem;
    margin-top: 1rem;
}

.percentage #humid
{
    font-size: 1.65rem;
}

.wind-pic i
{
    font-size: 1.85rem;
    top: 1.5rem;
}

.speed #windSpeed
{
    font-size: 1.8rem;
    position: relative;
    top: 1rem;
    left: 0.25rem;
}

.speed p
{
    font-size: 1.65rem;
    position: relative;
    top: 0.5rem;
}

}



@media screen and (min-width : 768px) and (max-width : 991px)
{
    .container
{
    width:100%;
}

.search-city input
{
  height:70px;
  margin: 1.2rem;
  font-size: 1.4rem;
}

.search-icon
{
    position: relative;
    right: 2.2rem;
}

.search-icon button i
{
    font-size: 1.5rem;
}

button
{
    height:55px;
    width: 55px;
}

.error
{
    font-size: 2.25rem;
}

.weather-logo img
{
    width:130px;
    height:130px;
}

.temp
{
    font-size: 2.5rem;
}

.city
{
    font-size: 2.3rem;
}

.humidity-pic
{
   top: 2rem;
   margin-left: 1rem;
}

.percentage #percent
{
    font-size: 2rem;
    margin-top: 1rem;
}

.percentage #humid
{
    font-size: 1.8rem;
}

.wind-pic i
{
    font-size: 1.85rem;
    top : 1.75rem
}

.speed #windSpeed
{
    font-size: 2rem;
    position: relative;
    top:1rem;
    left: 0.25rem;
}


.speed p
{
    font-size: 1.8rem;
    position: relative;
    top : 0.5rem
}

}



@media screen and (min-width : 992px) and (max-width : 1399px)
{
    .container
{
    width:50vw;
}

.search-city
{
    width: 80%;
}

.search-city input
{
  height: 70px;
}

.search-icon
{
    position: relative;
    right: 1rem;
}

}