*
{
    margin:0;
    padding: 0;
}

body{
    background-color: #E1F7F5;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.container
{
    width:40%;
    /* height:13vh; */
    /* font-size: 2vw; */
    margin:2rem 6.5rem;
    border-radius: 20px;
    background-image: linear-gradient(to bottom,rgba(0, 255, 229, 0.758) , rgb(50, 126, 239), rgb(151, 68, 234) );
}

.search
{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.search-city input
{
  width:30vw;
  height:50px;
  margin: 1.5rem;
  padding-left: 1rem;
  font-size: 1.5vw;
  border:1px solid white;
  border-radius: 20px;
}

.search-icon
{
    /* height:4.3vh; */
    width: 3.6vw; 
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem; 
    /* font-size: 2vw; */
    /* background-color: white;
    /* border-radius:50%; */

}
.search-icon button i
{
    font-size: 1.5vw;
}

button
{
    border-radius:50%;
    height:60px;
    width: 60px;
    /* margin-top: 1rem; */
    margin-right: 0.5rem;
    border:3px solid black;
    cursor: pointer;
    background-color: transparent;
    color: white;
    /* top:0.8rem; */
}

.error
{
    position: absolute;
    left:1vw;
    width:21vw;
    color:#0C0C0C;
    font-weight: 650;
    position: relative;
    right:25vw;
    font-size: 2vw;
    display: none;
}

.weather
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color:whitesmoke;
}

.weather-logo img{
    width:20vw;
    height:15vh;
    object-fit: contain;
    margin: 1.75rem;
}

.temp{
    font-size: 2.5vw;
}

.city{
    margin-top: 0.5rem;
    font-size: 2.5vw;
}

.hum-wind
{
    display: flex;
    justify-content: space-around;
    color:whitesmoke;
    /* font-size: 1.5vw; */
    margin-top: 5rem;
}

.humidity
{
    display: flex;
}

.humidity-pic
{
    position: relative;
    top:15px;
   width : 35px;
   height: 35px;
}

.percentage #percent{
    font-size: 2vw;
    margin-left: 0.2rem;
    margin-top: 0.25rem;
}

.percentage #humid
{
    font-size: 2.5vw;
    padding-top: 0.5rem;
    padding-left: 0.75rem;
    position: relative;
    bottom: 25px;
}

.wind-speed
{
    display: flex;
}

.wind-pic i{
    position: relative;
    top:18px;
    font-size: 2vw;
    padding-top: 0.25rem;
}

.speed #windSpeed
{
    position: relative;
    top : 0.5vh;
    font-size: 2vw;
    padding-left: 0.75rem;
}

.speed p
{
    font-size: 2.2vw;
    padding-left: 1rem;
    padding-top: 1.5vh;
}

.container2
{
    display: none;
}


@media screen and (min-width : 350px) and (max-width : 575px)
{
    .container
{
    width:95%;
    height:10vh;
    margin:2rem 0;
}

.search-city input
{
  width:68vw;
  height:9vw;
  margin: 0rem;
  font-size: 5vw;
}

.search-icon
{
    position: relative;
    right: 3vw;
}
.search-icon button i
{
    font-size: 4vw;
}

button
{
    border-radius:50%;
    height:10vw;
    width: 10vw;
}

.error
{
    width:60vw;
    font-size: 7vw;
}

.weather-logo img{
    width:30vw;
    height:30vw;
    object-fit: contain;
    margin: 1.75rem;
}

.temp{
    font-size: 10vw;
}

.city{
    font-size: 8vw;
}

.humidity-pic
{
   width : 9vw;
   height: 9vw;
}

.percentage #percent{
    font-size: 8vw;
    margin-top: 1vw;
    position: relative;
    right: 3vw;
}

.percentage #humid
{
    font-size: 7vw;
    /* padding-top: 3vw; */
    position: relative;
    right: 3vw;
}

.wind-pic i{
    font-size: 7vw;
    left: 2.5vw;
}

.speed #windSpeed
{
    font-size: 7.5vw;
    top:0.5vh;
}

.speed p
{
    font-size: 6.25vw;
    margin-top: 1vw;
    width:40vw;
    position: relative;
    right: 2vw;
    /* padding-left: 1rem; */
}

}




@media screen and (min-width : 576px) and (max-width : 767px)
{
    .container
{
    width:95%;
    height:10vh;
    margin:2rem 0;
}

.search-city input
{
  width:55vw;
  height:6vh;
  margin: 1rem;
  font-size: 4vw;
}

.search-icon
{
    position: relative;
    right: 4vw;
}
.search-icon button i
{
    font-size: 4vw;
}

button
{
    border-radius:50%;
    height:8vw;
    width: 8vw;
}

.error
{
    width:60vw;
    font-size: 7vw;
}

.weather-logo img{
    width:30vw;
    height:30vw;
}

.temp{
    font-size: 8vw;
}

.city{
    font-size: 8vw;
}

.humidity-pic
{
   width : 7vw;
   height: 7vw;
}

.percentage #percent{
    font-size: 6vw;
    margin-top: 1vw;
    position: relative;
    right: 3vw;
}

.percentage #humid
{
    font-size: 6vw;
    /* padding-top: 3vw; */
    position: relative;
    right: 3vw;
}

.wind-pic i{
    font-size: 5vw;
    left: 5vw;
}

.speed #windSpeed
{
    font-size: 6vw;
    top:0.5vh;
}

.speed p
{
    font-size: 6vw;
    width:40vw;
    position: relative;
    right: 2.5vw;
    bottom:1.5vw;
    /* padding-left: 1rem; */
}
}



@media screen and (min-width : 768px) and (max-width : 1399px)
{
    .container
{
    width:95%;
    height:10vh;
    margin:2rem 0;
}

.search-city input
{
  width:55vw;
  height:6vh;
  margin: 2vw;
  font-size: 3.5vw;
 
}

.search-icon
{
    position: relative;
    right: 4vw;
}
.search-icon button i
{
    font-size: 3vw;
}

button
{
    border-radius:50%;
    height:6vw;
    width: 6vw;
}

.error
{
    width:60vw;
    font-size: 5vw;
}

.weather-logo img
{
    width:30vw;
    height:30vw;
}

.temp
{
    font-size: 8vw;
}

.city
{
    font-size: 8vw;
}

.humidity-pic
{
   width : 7vw;
   height: 7vw;
}

.percentage #percent{
    font-size: 6vw;
    margin-top: 1vw;
    position: relative;
    right: 3vw;
}

.percentage #humid
{
    font-size: 6vw;
    /* padding-top: 3vw; */
    position: relative;
    right: 3vw;
}

.wind-pic i{
    font-size: 5vw;
    left: 5vw;
}

.speed #windSpeed
{
    font-size: 6vw;
    top:0.5vh;
}

.speed p
{
    font-size: 6vw;
    width:40vw;
    position: relative;
    right: 2.5vw;
    bottom:1.5vw;
    /* padding-left: 1rem; */
}
}


@media screen and (min-width : 992px) and (max-width : 1199px)
{
    .container
{
    width:95%;
    height:10vh;
    margin:2rem 0;
}

.search-city input
{
  width:55vw;
  height:6vh;
  margin: 2vw;
  font-size: 3.5vw;
 
}

.search-icon
{
    position: relative;
    right: 4vw;
}
.search-icon button i
{
    font-size: 3vw;
}

button
{
    border-radius:50%;
    height:6vw;
    width: 6vw;
}

.error
{
    width:60vw;
    font-size: 5vw;
}

.weather-logo img
{
    width:30vw;
    height:30vw;
}

.temp
{
    font-size: 8vw;
}

.city
{
    font-size: 8vw;
}

.humidity-pic
{
   width : 7vw;
   height: 7vw;
}

.percentage #percent{
    font-size: 6vw;
    margin-top: 1vw;
    position: relative;
    right: 3vw;
}

.percentage #humid
{
    font-size: 6vw;
    /* padding-top: 3vw; */
    position: relative;
    right: 3vw;
}

.wind-pic i{
    font-size: 5vw;
    left: 5vw;
}

.speed #windSpeed
{
    font-size: 6vw;
    top:0.5vh;
}

.speed p
{
    font-size: 6vw;
    width:40vw;
    position: relative;
    right: 2.5vw;
    bottom:1.5vw;
    /* padding-left: 1rem; */
}
}